*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 100%;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .menu-item a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 14px;
        color: aliceblue;
        text-decoration: none;
    }
    .logo a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
}
#bannerBienvenida {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/portada-banner.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px 0px;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 140px;
        color: aliceblue;
    }
}
body {
    background-image: url(../imagenes/background-image.jpg);
}
#contacto{
    padding: 50px 20px;
    h2{
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: 65px;
        color: #333;
        justify-content: center;
    }
    p{
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        color: #333;
        justify-content: center;
        align-items: center;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 35px;
    .grid-item {
        background-color: transparent;
        padding: 40px;
        border: 2px solid aliceblue;
        border-radius: 8px;
        text-align: center;
    }
    .grid-item:hover {
        background: #333;
        transition: .5s;
    }
    a{
        font-family: 'Playfair Display', serif;
        color: aliceblue;
        text-decoration: none;
        font-size: 24px;
    }
}
footer {
    background-color: #333;
    padding: 100px 0px;
    margin-top: 100px;
    p{
        color: aliceblue;
        text-align: center;
        font-size: 24px;
    }
    ul{ 
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
    a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
}