*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 100%;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .menu-item a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 14px;
        color: aliceblue;
        text-decoration: none;
    }
    .logo a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
}
body{
    background-image: url(../imagenes/background-image.jpg);
    #bannerBienvenida {
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/portada-banner.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 20px 0px;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        vertical-align: center;
        align-items: center;
        h1{
            font-family: 'Playfair Display', serif;
            font-size: 140px;
            color: aliceblue;
        }
    }
}
.body-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
    .card{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: aliceblue;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: .5s;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
    img{
        width: 100%;
        height: 340px;
    }
    .body-content{
        padding: 15px;
        text-align: center;
    }
    p{
        font-family: 'Playfair Display', serif;
        line-height: 1.5;
        color: #333;
    }
    h3{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        margin-bottom: 16px;
        color: #333;
    }
    a{
        font-family: 'Playfair Display', serif;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        color: #333;
        border: 1px solid #333;
        border-radius: 4px;
        transition: .5s;
    }
    a:hover{
        background: #333;
        color: aliceblue;
    }
}
footer {
    background-color: #333;
    padding: 100px 0px;
    margin-top: 100px;
    p{
        color: aliceblue;
        text-align: center;
        font-size: 24px;
    }
    ul{ 
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .footer-item a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
    .logo a{
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        padding: 0px 16px;
        color: aliceblue;
        text-decoration: none;
    }
}